@charset "utf-8";
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
/*html,body{overflow: hidden;}*/
a{text-decoration: none;}
img{display: block;border: 0;}
ul,li,ol{list-style: none;}
/*common*/
.top-con,#logo,#ad,.banner-con,#youhuiquan,#panicBuy{width: 1263px;margin: 0 auto;}
